@import "tailwindcss";

@font-face {
  font-family: "Offside";
  src: url("/offside/Offside-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/figtree/Figtree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/figtree/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url("/figtree/Figtree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-header: "Offside", sans-serif;
  --font-body: "Figtree", sans-serif;

  /* Brand / Accent */
  --color-primary: #69debd; 
  --color-primary-hover: #a2ead3; 
  --color-accent: #faba79;

  /* Neutrals */
  --color-secondary-bg: #f3f5f6; 
  --color-border: #9ea2a3; 
  
  /* Text */
  --color-text: #111827; /* gray-900 */
  --color-text-light: #6b7280; /* gray-500 */
  --color-text-inverse: #ffffff;

  /* Semantic */
  --color-success: #10b981; /* emerald-500 */
  --color-warning: #f59e0b; /* amber-500 */
  --color-error: #ef4444; /* red-500 */
}
